@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans&subset=cyrillic,cyrillic-ext,latin-ext');

/* 
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;  */


*{
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 12px;
}

html, body{
    width: 100vw;
    margin: 0 auto;
    
    
}

/*Setting up site text and fonts*/

.text-right{
    text-align: right;
}

.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.text{
    font-size: 1.25rem;
}

.uppercase, .row .uppercase{
    text-transform: uppercase;
}

/* Making styled parts 
    header and menu - first
*/

header{
    padding: 6vh 0 0 0;
    font-weight: 600;
    color: black;
}

.row h1{
    line-height: 1.4em;
    font-weight: 800;
}

/* Welcome text for visitors - did below */

.mainface-header{
    padding: 21.33% 0 0 13.5%;
    letter-spacing: .065rem
}

.mainface-paragraf p{
    font-size: 1.75rem;
    line-height: 2.8rem;
    letter-spacing: .03rem
}

.mainface-paragraf{
    padding: 1.25rem 2.5rem 0 0.5rem;
}

.mainface-paragraf a, .mainface-paragraf a:focus, .mainface-paragraf a:hover, .mainface-paragraf a:visited {
    text-decoration-line: none;
}

/* Little fixes for header and menu bottoms to display it correctly */

a .button{
    display: inline;
    line-height: 10.25rem;
    padding: 2.0rem 4.45rem;
    background-color: rgb(0,255,255);
    color: white;
    
    letter-spacing: .1rem;
    font-weight: 600
}

li a, li a:visited, li a:focus{
    color: black;
    text-decoration-line: none;

}

li a:hover{
    text-decoration-line: none;
    color: #a6a6ff; 
}

ul{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    line-height: 2.5rem;
    letter-spacing: 0.075rem;
}

li{
    width: auto;
    display: inline-block;
    margin: 0 0 0 4%;
}

/* styles for About Us block... */

.about{
    text-align: center;
    padding: 21.35% 0 18.5% .75%;
}

.row h2{
    font-weight: 600;
    line-height: 3.75rem;
}

.about p{
    font-size: 1.25em;
    letter-spacing: .0375em;
    line-height: 2.4rem;
    padding: 1.5% 22% 0 22%;
}

#sign{
    line-height: 10rem;
}

/* Styles for Skills bars */

.skills{
    letter-spacing: .1em;
    margin: 0 0 -.375%;
}

.skills-progress{
    clear: left;
    font-weight: 800;
    letter-spacing: .08rem;
    padding: 5% 0 3.375% 0;
}

.text span{
    padding: 0 1.25rem 0;
}

.progress-bar{
    margin: 0 0 2.5% 0; 
}

.progress-bar:nth-child(2){
    width: 75%;
    height: 3px;
    background: #6fb4ff;
}

.progress-bar:nth-child(4){
    width: 90%;
    height: 3px;
    background: #6fb4ff;
}

.progress-bar:last-child{
    width: 65%;
    height: 3px;
    background: #6fb4ff;
}

/* Infopanel styles */



/* Gallery panel styles */



/* workprocess intro block styles */



/* Our instruments and Possibilities part block styles */



/* carousel styles */



/* our clients styles */



/* Contact form styles */



/* footer styles */



/* overall fixes */

.row [class*="col-"]{
    padding-left: 0px;
    padding-right: 0px;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/* Buttons: background-color: #99ffff
   text-light-color: #666666
   black, white  */

/*.container > .row, .container-fluid > .row{
    
}*/

/* .row > *{
    position: absolute;
    float: left;

}

.row > .col-1{
    width: calc(100%/12);
    padding: 0 15px;
    position: relative;

}

.row > .col-2{
    width: calc(100%/6);
    padding: 0 15px;
    position: relative;

}

.row > .col-3{
    width: calc(100%/4);
    padding: 0 15px;
    position: relative;

}

.row > .col-4{
    width: calc(100%/3);
    padding: 0 15px;
    position: relative;

}

.row > .col-5{
    width: calc((100%/12)*5);
    padding: 0 15px;
    position: relative;

}

.row > .col-6{
    width: calc(100%/2);
    padding: 0 15px;
    position: relative;

}

.row > .col-7{
    width: calc(100%/2 + 100%/12);
    padding: 0 15px;
    position: relative;

}

.row > .col-8{
    width: calc(100%/2 + 100%/6);
    padding: 0 15px;
    position: relative;

}

.row > .col-9{
    width: calc(100%/2 + 100%/4);
    padding: 0 15px;
    position: relative;

}

.row > .col-10{
    width: calc(100%/2 + 100%/3);
    padding: 0 15px;
    position: relative;

}

.row > .col-11{
    width: calc(100%/2 + (100%/12)*5);
    padding: 0 15px;
    position: relative;

}

.row > .col-12{
    width: 100%;
    padding: 0 15px;
    position: relative;

} */

/* @media screen and (max-width: 479px){
    .container{
        width: 90%
    }
    .container-fluid{
        width: 100%;
    }
}

@media screen and (min-width: 480px){
    .container{
        width: 90%
    }
    .container-fluid{
        width: 100%;
    }
}  

@media screen and (min-width: 768px) {
    .container{
        width: 80%
    }
    .container-fluid{
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .container{
        width: 80%
    }
    .container-fluid{
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 75%
    }
    .container-fluid{
        width: 100%;
    }
} */