*{
    box-sizing: border-box;
    overflow: hidden;
}

html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    font-size: 13px;
}

#head{
    text-align: left;
    padding: 0 0 5vh;
    
    border-bottom: solid 1px rgba(0, 0, 0, 0.15) 
}

#main{
    margin: 7vw;
}

#head h1{
    font-size: 2.5rem;
    font-weight: 600;
    opacity: .7;
    letter-spacing: .05em;
    margin: 0 auto;

}

.input-grid{
    width: 100%
}

.input-half{
    width: 50%;
    padding: 0 1% 0;
    display: block;
    float: left;
}

.input-half label, .input-half input{
    width: 100%;
    font-weight: 500;
}

.input-half label{
    margin: 1em;

}

#head-instruction{
    font-size: 1.2em;
    opacity: .7
}

#body{
    padding: 5vh 0 5vh;
    font-size: 1rem;
    font-weight: 600;
    opacity: .7;
}

.block{
    padding: 2.5vh 0 2.5vh
}

.left{
    width:30%;
    float: left;
    font-size: 1.2em
}

.right{
    width: 70%;
    float: right;
    box-sizing: border-box
}

