@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Nunito+Sans&subset=cyrillic,cyrillic-ext,latin-ext');

/* 
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;  */


*{
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 12px;
    
}

html, body{
    width: 100vw;
    margin: 0 auto;
    
}

.bg-main{
    width: 100%;
    background: #e9e9e9;
}

/*Setting up site text and fonts*/

.text-right{
    text-align: right;
}

.nunito{
    font-family: 'Nunito Sans', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.text{
    font-size: 1.25rem;
}

.uppercase, .row .uppercase{
    text-transform: uppercase;
}

/* Making styled parts 
    header and menu - first
*/

header{
    padding: 6vh 0 0 0;
    font-weight: 600;
    color: black;
}

.row h1{
    line-height: 1.4em;
    font-weight: 800;
    color: black
}

/* Welcome text for visitors - did below */

.mainface{
    padding: 21.325% 0 30% 13.5%;
    letter-spacing: .065rem
}

.mainface-paragraf p{
    font-size: 1.75rem;
    line-height: 2.8rem;
    letter-spacing: .03rem
}

.mainface-paragraf{
    padding: 1.25rem 2.5rem 0 0.5rem;
}

.mainface-paragraf a, .mainface-paragraf a:focus, .mainface-paragraf a:hover, .mainface-paragraf a:visited {
    text-decoration-line: none;
}

/* Little fixes for header and menu bottoms to display it correctly */

a .button{
    display: inline;
    line-height: 10.25rem;
    padding: 2.0rem 4.45rem;
    background-color: rgb(0,255,255);
    color: white;
    
    letter-spacing: .1rem;
    font-weight: 600
}

li a, li a:visited, li a:focus{
    color: black;
    text-decoration-line: none;

}

li a:hover{
    text-decoration-line: none;
    color: #a6a6ff; 
}

ul{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-padding-start: 0px;
    line-height: 2.5rem;
    letter-spacing: 0.075rem;
}

li{
    width: auto;
    display: inline-block;
    margin: 0 0 0 4%;
}

/* styles for About Us block... */

.workprocess, .about{
    text-align: center;
    padding: 6.375% 0 6.875% .75%;
}

.row h2{
    font-weight: 400;
    line-height: 3.75rem;
    color: black
}

.instrument > .nunito,.workprocess p, .about p, .contact-form p{
    font-size: 1.5rem;
    letter-spacing: .06rem;
    line-height: 2.4rem;
    padding: 1.5% 22% 0 22%;
}

#sign{
    line-height: 10rem;
}

/* Styles for Skills bars */

.bg-skill{
    width: 100%;
    min-height:10%;
    background-image: linear-gradient(to left, #e9e9e9 50%, #f8f9f9 50%);
    padding: 0 0 11% 0;
}

.bg-skill > .container, .bg-infopanel > .container{
    position: relative;
}



/* 
.box-1{
    background-color: #f8f9f9;
    position: relative;
    float: left;
    z-index: 1
}

.box-2{
    background-color: #e9e9e9;
    position: relative;
    float: left;
    z-index: 1;
}

.box-1, .box-2{
    width: 50%;
    height: 100%;
    z-index: 0;
}
*/



.skills{
    letter-spacing: .1rem;
    margin: 0 0 -.375%;
    padding: 11.5% 0 0 0;
}

.skills-progress{
    clear: left;
    font-weight: 800;
    letter-spacing: .1rem;
    padding: 4% 0 3% 0;
}

.text span{
    padding: 0 1.25rem 0;
}

.progress-bar-bg{
    width: 90%;
    background-color: rgba(128, 128, 128, .3);
    height: 3px;
    margin: 0 0 2.125% 0;
}

.progress-bar-bg:nth-child(2)  .progress-bars{
    width: 75%;
    height: 3px;
    background: #6fb4ff;
}

.progress-bar-bg:nth-child(4)  .progress-bars{
    width: 90%;
    height: 3px;
    background: #6fb4ff;
}

.progress-bar-bg:nth-child(6)  .progress-bars{
    width: 65%;
    height: 3px;
    background: #6fb4ff;
}

/* Infopanel styles */

.bg-infopanel{
    background-color: #10c9c3;
    width: 100%;
}

.infopanel-item{
    color: white;
    letter-spacing: .1rem;
    width: 100%;
    display: flex;
    padding: 34% 0 34% 0;
}

.infopanel-item p{
    margin: 0;
}

.infopanel-item  > *{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infopanel-item > :first-child{
    padding: 0 10% 0 1%;
}

.infopanel-item p:first-of-type{
    font-size: 1.5em;
}

/* Gallery panel styles */

.gallery{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.gallery-item{
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.gallery-item > img{
    object-fit: cover;
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.gallery-item:hover{
    background: url('/icons/gallery-preload-eye-icon.png') no-repeat center;
    background-color:rgba(0, 0, 0, .4) ;
}

.text-center{
    text-align: center;
}

.load{
    padding: 3% 0;
    letter-spacing: .1rem;
    width: 100%;
    background-color: #f5f5f5;
}

/* workprocess intro block styles */

.workprocess {
    padding: 6.5% 0 0 0;
}

.workprocess p{
    padding: 1.5% 27% 3.5% 27%;
}

.video-wrap{
    position: relative;
    height: 0;
    padding-bottom: 48.75%;
}

.video-wrap iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Our instruments and Possibilities part block styles */

.kit{
    background-color: #f5f5f5;
    margin: 7% 0 0 0;
    padding: 4% 0 6.5% 0;
}

.instrument{
    display: flex;
    flex-direction: column;
    padding: 4.5% 0 0 0;
}

.instrument > .nunito{
    padding: 0 5%;
    color: #787878
}

.instrument > p:nth-child(2){
    margin-top: 5.5%;
    letter-spacing: .075rem
}

.instrument > *{
    margin: 0 auto;

}

/* carousel styles */

.carous{
    width: 100%;
    background-color: #10c9c3;
}

ol.carousel-indicators{
    display: flex;
    justify-content: center;
    padding: 0 0 2.5% 0;
}

ol.carousel-indicators li{
    display: flex;
    align-self: center;
    margin: 0 5px;
    width: 6px;
    height: 6px;
    border: 1px solid #b0e8e6;
    border-radius: 3px;
    background-color: #b0e8e6;
}

ol.carousel-indicators li.active{
    transition: border-radius, width, height, background-color .5s ease-in; 
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: white;
    border-radius: 5px;
}

.feedback{
    padding: 12.5% 19% 12% 19%;
    color: white;
    text-align: center;
}

.feedback p{
    font-size: 2.5rem;
    letter-spacing: .1rem;
    font-weight: 400;
    line-height: 3.6rem
}

.feedback span{
    font-size: 1.25rem;
    letter-spacing: .1rem;
    line-height: 4.5rem
}

/* our clients styles */

.brand-box{
    width: 100%;
    padding: 5.5% 3%;
    display: flex;
    justify-content: space-between;
}

.brand-box > img{
    display: flex;

}

/* Contact form styles */

.contact-bg{
    width: 100%;
    background-color: #f5f5f5;
    padding: 5.5% 0;
}

.contact-form h2, .contact-form p{
    text-align: center;
    
}

.contact-form p{
    padding: 2% 15% 2.25% 15%;
    margin: 0;
}

form{
    padding: 1% 7% 2% 7%;
    display: block;
}

form > .form-block{
    width: 100%;
    margin: 2% 0;
    -webkit-display: inline-flex;
    -moz-display: inline-flex;
    -ms-display: inline-flex;
    -o-display: inline-flex;
    display: inline-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.form-block > .half{
    width: 50%;
}

.half:first-child{
    margin: 0 2% 0 0;

}

.half:last-child{
    margin: 0 0 0 2%;
}

input, textarea{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    
}

input, .half, textarea{
    padding: 2.75%;
}

input::placeholder, #message::placeholder{
    opacity: 0.9;
    font-size: 1.5rem
}

#message, input{
    border: none;
    resize: none;
    width: 100%;
}

input[type="submit"]{
    display: block;
    margin: 1% auto;
    padding: 2.75% 5%;
    width: 27%;
    background-color: #10c9c3;
    color: #fff;
    letter-spacing: .1rem
}

/* footer styles */

footer{
    background-color: #141414;
}

.footer-box{
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7.75% 0
}

.row .block{
    color: white;
    -webkit-display: inline-flex;
    -moz-display: inline-flex;
    -ms-display: inline-flex;
    -o-display: inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;   
}

.block > *{
    -webkit-display: inline-flex;
    -moz-display: inline-flex;
    -ms-display: inline-flex;
    -o-display: inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.block:nth-of-type(3){
    margin: 0 0 0 50px;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    
}

.semi-block:first-child{
    padding: 0 60px 0 0;
}

.block h4{
    width: 100%;
    line-height: initial;
    margin: 0 0 10% 0
}

.block p, .block a{
    line-height: 2.5rem
}


.block > .nunito, .block + .nunito{
    font-size: 1.5rem;
}

.block a{
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    color: #fff;
}

.block a:focus, .block a:visited{
    text-decoration: none;
}

.block a:hover, .block a:focus{
    transition: color .25s ease-out;
    color: #928181;
    text-decoration: none;
}

/* overall fixes */

.row [class*="col-"]{
    padding-left: 0px;
    padding-right: 0px;
}

/*//////////////////////////////////////////////////////////////////////////////////*/
/* Buttons: background-color: #99ffff
   text-light-color: #666666
   black, white  */

/*.container > .row, .container-fluid > .row{
    
}*/

/* .row > *{
    position: absolute;
    float: left;

}

.row > .col-1{
    width: calc(100%/12);
    padding: 0 15px;
    position: relative;

}

.row > .col-2{
    width: calc(100%/6);
    padding: 0 15px;
    position: relative;

}

.row > .col-3{
    width: calc(100%/4);
    padding: 0 15px;
    position: relative;

}

.row > .col-4{
    width: calc(100%/3);
    padding: 0 15px;
    position: relative;

}

.row > .col-5{
    width: calc((100%/12)*5);
    padding: 0 15px;
    position: relative;

}

.row > .col-6{
    width: calc(100%/2);
    padding: 0 15px;
    position: relative;

}

.row > .col-7{
    width: calc(100%/2 + 100%/12);
    padding: 0 15px;
    position: relative;

}

.row > .col-8{
    width: calc(100%/2 + 100%/6);
    padding: 0 15px;
    position: relative;

}

.row > .col-9{
    width: calc(100%/2 + 100%/4);
    padding: 0 15px;
    position: relative;

}

.row > .col-10{
    width: calc(100%/2 + 100%/3);
    padding: 0 15px;
    position: relative;

}

.row > .col-11{
    width: calc(100%/2 + (100%/12)*5);
    padding: 0 15px;
    position: relative;

}

.row > .col-12{
    width: 100%;
    padding: 0 15px;
    position: relative;

} */

/* @media screen and (max-width: 479px){
    .container{
        width: 90%
    }
    .container-fluid{
        width: 100%;
    }
}

@media screen and (min-width: 480px){
    .container{
        width: 90%
    }
    .container-fluid{
        width: 100%;
    }
}  

@media screen and (min-width: 768px) {
    .container{
        width: 80%
    }
    .container-fluid{
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .container{
        width: 80%
    }
    .container-fluid{
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 75%
    }
    .container-fluid{
        width: 100%;
    }
} */