@mixin make-container(){
    margin: 0 auto;
    @media screen and (min-width: $scr-lg){
        width: (1170px + $gutter);
        padding-left: ($gutter / 2);
        padding-right: ($gutter / 2);
    }
    @media screen and (max-width: ($scr-lg - 1)){
        width: 90%;
        padding-left: 0;
        padding-right: 0;
    }
}

@mixin font-sizer(){
    @media screen and (max-width: ($scr-xs - 1)){
        font-size: 5px;
    }
    @media screen and (min-width: $scr-xs){
        font-size: 6px;
    }
    @media screen and (min-width: $scr-sm){
        font-size: 7px;
    }
    @media screen and (min-width: $scr-md){
        font-size: 9px;
    }
    @media screen and (min-width: $scr-lg){
        font-size: 11px;
    }
    @media screen and (min-width: $scr-xl){
        font-size: 13px;
    }
    
}