$scr-xs: 480px;
$scr-sm: 720px;
$scr-md: 920px;
$scr-lg: 1200px;
$scr-xl: 1400px;
$gutter: 30px;

@import url('https://fonts.googleapis.com/css?family=Lato:700,900');
$lato: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');
$sourcesans: 'Source Sans Pro', sans-serif;

$thcol: #f5f7fa;
$bg: white;
$carouscol: #f2f5f7;
$btncol: #00bc9c;
$upfootcol: #2f4052;
$footcol: #283645;
$textmaincol: #506a85;
$textseccol: #a3b1bf;
$btnbgcol: #17a78b;
$textfootcol: #616f7d;