@import "base/base.scss";
@import "base/reset.scss";
@import "base/var.scss";
@import "base/mixins.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
@import "page/home.scss"; 

*{
    box-sizing: border-box
}

body{
    background-color: $bg;
}

.container{
    @include make-container();
}

.lato{
    font-family: $lato;
}

.sourcesans{
    font-family: $sourcesans;

}

.text-deco-none{
    text-decoration: none;
}

.align-right{
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
}

.top-head{
    background-color: $thcol;
    height: 8vh;
}

.top-head, header{
    border-bottom: 1px solid #e6e9ed;
    @extend .sourcesans;
    font-weight: 800;
    
}

header{
    font-size: 1.25rem;
    height: 16vh;
    @extend .uppercase;
}

.container .contact, .container .header-box{
    @extend .text-deco-none;
    & a{
        text-decoration-line: inherit;
        color: $textmaincol
    }
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.contact, .social-network{
    display: flex;
    width: 50%;

}

.centeredY{
    align-self: center;
    display: flex;
}

.contact{
    a{
        width: auto;
        @extend .centeredY;
        justify-content: center;
        justify-self: flex-start;
        padding: 0 7% 0 0;
        &:last-child{
            margin: 0;
        }
        img{
            @extend .centeredY;
            padding: 0 5% 0 0;
        }
        p{
            min-width: 10em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.social-network{
    
    ul{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        li{
            display: flex;
            align-self: stretch;
            padding: 0 2%;
            &:first-child{
                padding: 0 2% 0 0;
            }
            &:last-child{
                padding: 0 0 0 2%;
            }
            a{
                @extend .centeredY;
                width: 100%;
                img{
                    @extend .centeredY;
                }
            }
        }    
    }
}

header{
    .container{
        display: flex;
        align-content: center;
        justify-content: space-between;
        .header-box{
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: space-between;
            & > *{
                width: auto;
            }
            nav{
                display: flex;
                justify-content: center;
                width: 100%;
                a{
                    display: flex;
                    align-self: stretch;
                    align-items: center;
                    padding: 0 3%;
                }
            }
            .search{
                display: flex;
                align-self: stretch;
                & img{
                    align-self: center;
                }
            }
        }
    }
}

ol.carousel-indicators{
    display: none;
    background-color: white;
    border-radius: .2rem;
    width: auto;
    transform: translate(-50%,-50%);
    padding: 6px;
    margin: 0;
    bottom: -35px;
    justify-content: center;
    li{
        background-color: $textmaincol;
        display: flex;
        align-self: center;
        margin: 3px;
        width: 16px;
        height: 16px;
        &.active{
            background-color: $btncol;
            margin: 3px;
            width: 16px;
            height: 16px;
        }
    }
}

.carousel-inner{
    width: 100%;
    height: 125vh;
    .item{
        width: 100%;
        height: 100%;
        .item-flex{
            margin: auto;
            width: 90%;
            height: 100%;
            display: flex !important;
            flex-wrap: wrap;
            .text-head{
                font-size: 6rem !important;
                color: white;
                @extend .lato;
                @extend .uppercase;
                font-weight: 800;
                line-height: 9rem;
                letter-spacing: 0.075em;
            }
            p{
                font-size: 2rem !important;
                color: white;
                @extend .sourcesans;
                width: 70%;
            }
            a:link, a:hover, a:visited, a:active, a::before{
                @extend .text-deco-none;
                background-color: $btnbgcol;
                border-radius: 2px;
                text-align: center;
                color: white;
                @extend .sourcesans;
                @extend .uppercase;
                font-size: 2rem !important;
                font-weight: 800;
                padding: 1.75% 0;
                width: 30% !important;
            }
        }
        &:first-child{
            background-image: url('/img/image-carousel-big-1.png');
            background-position: center;
            background-size: 100% 100%;
            .item-flex{
                align-content: center;
                justify-content: center;
                .text-head, p, a{
                    text-align: center;
                }
                p{
                    color: $textseccol;
                }
                a{
                    margin: 4% 20%;
                }
            }
        }
        &:nth-child(2){
            background-image: url('/img/image-carousel-big-2.png');
            background-position: center;
            background-size: cover;
            .item-flex{
                align-content: center;
                justify-content: flex-end;
                .text-head, p{
                    @extend .align-right;
                }
                a{
                    margin: 4% 0 4% 50%;
                }
            }
        }
        &:nth-child(3){
            background-image: url('/img/image-carousel-big-3.png');
            background-position: center;
            background-size: cover;
            .item-flex{
                display: flex;
                align-content: center;
                justify-content: flex-start;
                .text-head{
                    background-color: $textmaincol;
                    height: fit-content;
                    width: fit-content;
                    margin: .5% 30% 0 0;
                    padding: 0 2rem;
                }
                p{
                    color: $textmaincol;
                    width: 60%;
                    margin-top: 2%
                }
                a{
                    margin: 4% 50% 4% 0;
                }
            }
        }
        &:nth-child(4){
            background-image: url('/img/image-carousel-big-4.png');
            background-position: center;
            background-size: cover;
            .item-flex{
                display: flex;
                align-content: flex-start;
                justify-content: flex-end;
                .text-head{
                    background-color: $textmaincol;
                    height: fit-content;
                    width: fit-content;
                    padding: 0 2rem;
                    &:first-child{
                        margin: 10% 0 .5% 30%;
                    }
                    &:nth-child(2){
                        margin: 0 0 2% 30%;
                    }
                }
                p{
                    width: 60%;
                    color: white;
                    @extend .align-right;
                }
                a{
                    margin: 4% 0 4% 50%;
                }
            }
            
        }
        &:nth-child(5){
            background-image: url('/img/image-carousel-big-5.png');
            background-position: center;
            background-size: cover;
            .item-flex{
                display: flex;
                align-content: flex-start;
                justify-content: center;
                .text-head{
                    width: fit-content;
                    padding: 0 2em;
                    &:first-child{
                        margin: 5% 5% 0 5%;
                    }
                    &:last-child{
                        margin: 0 5% 0 5%;
                    }
                }
                p{
                    color: $textseccol;
                    margin: 0 10%;
                    text-align: center;
                }
                a{
                    margin: 4% 10% 4% 10%;
                }
            }
        }
    }
}

.carousel-control{
    display: none;
    width: 40px !important;
    height: 40px !important;
    background-image: none !important;
    opacity: 0.25;
    background-color: $textmaincol !important;
    position: absolute;
    top: 50% !important;
    padding: 0 !important;
    
    align-content: center;
    justify-content: center;
    .left, .right{
        margin: auto;
        
    }
    &.left{
        left: 5% !important;
    }
    &.right{
        right: 5% !important;
    }
    #left-mark, #right-mark{
        
        display: block;
        margin: auto;    
        .line:first-child{
            display: flex;
            background-color: white;
            border-radius: 2px;
            height: 5px;
            width: 20px;
            margin: 6px 0;
            transform: rotate(-45deg);
        }
        .line:last-child{
            display: flex;
            background-color: white;
            border-radius: 2px;
            height: 5px;
            width: 20px;
            margin: 6px 0;
            transform: rotate(45deg);
        }
    }
    #right-mark{    
        .line:first-child{
            transform: rotate(45deg);
        }
        .line:last-child{
            transform: rotate(-45deg);
        }
    }
}

#main-carousel:hover{
    .carousel-control{
        display: flex;
    }
    .carousel-indicators{
        display: inline-flex;
    }
}

.header-text{
    @extend .lato;
    font-size: 5rem;
    font-weight: 600;
    line-height: 8rem;
}

.header-subtext{
    @extend .sourcesans;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .075rem;
}

.whovr-bg{
    .container{
        .whovr{
            padding: 3.5% 0;
            align-content: flex-start;
            flex-wrap: wrap;
            .whovr-head{
                padding: 3.5%;
                width: 80%;
                margin: 0 10%;
                color: $textmaincol;
                text-align: center;
                .header{
                    @extend .header-text;
                }   
                p{
                    @extend .header-subtext;
                }
            }
            .whovr-info{
                display: inline-flex;
                width: 33%;
                color: $textmaincol;
                padding: 2% 0;
                .info-img{
                    display: flex;
                    align-self: stretch;
                    padding: 0 1%;
                    
                    img{
                        display: flex;
                        align-self: flex-start;
                    }
                }
                .info-text{
                    display: inline-flex;
                    flex-wrap: wrap;
                    padding: 0 25% 0 5%;
                    .info-head{
                        @extend .lato;
                        font-size: 2rem;
                        letter-spacing: .025rem;
                        line-height: normal
                    }
                    p{
                        @extend .sourcesans;
                        font-size: 1.25rem;
                        padding: 5% 0;
                        max-height: 100px;
                        overflow: hidden;
                        word-wrap: break-word;
                        line-break: loose;
                    }
                }
            }
        }
    }
}
.lastest-works-bg{
    background-color: $thcol;
    .container{
        display: block;
        margin: 0 auto;
        .lastest-works{
            padding: 7.5% 0;
            width: 100%;
            .head{
                color: $textmaincol;
                text-align: center;
                .header{
                    @extend .header-text;
                }
                p{
                    @extend .header-subtext;
                    padding: 0 0 5%;
                }
            }
            
            .figure-list{
                display: flex;
                width: 100%;
                .figure{
                    display: inline-block;
                    @extend .sourcesans;
                    color: $textmaincol;
                    text-align: center;
                    background-color: white;
                    border: 1px solid rgba(0,0,0, .15);
                    
                    &:first-child{
                        width: calc(50% - 15px);
                        margin-right: 15px;
                    }
                    &:last-child{
                        margin-left: 15px;
                        width: calc(50% - 15px);
                    }
                    p{
                        &:first-of-type{
                            font-size: 1.75rem;
                            font-weight: 600;
                            padding: 5% 0 .5%;
                        }
                        &:last-of-type{
                            padding: .5% 0 5%;
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            //
            .slicky{
                //
                margin: 7% auto; 
                li{
                    button{

                    }
                }
                .slick-cont{
                    //
                    text-align: center;
                    img{
                        //
                        margin: auto;
                    }
                }
                .slick-prev, .slick-next{
                    //
                    background-color: $textmaincol;
                    
                }
            }
        }
    }
}
 
.in-touch{
    //
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    color: $textmaincol; 
    padding: 10% 0;
    //  
    .header{
        text-align: center;
        @extend .header-text;
        margin: 2% auto;
    }
    p{
        display: flex;
        margin: 0 auto;
        width: 65%;
        text-align: center;
        @extend .header-subtext;
    }
    a:link, a:hover, a:visited, a:active, a::before{
        display: flex;
        margin: 4% auto;
        @extend .text-deco-none;
        background-color: $btnbgcol;
        border-radius: 2px;
        text-align: center;
        color: white;
        @extend .sourcesans;
        @extend .uppercase;
        font-size: 1.5rem;
        font-weight: 800;
        padding: 1% 2%;
    }
}

.upfoot-bg{
    background-color: $upfootcol;
    padding: 5% 0;
    .container{
        //
        margin: auto;
    }
    .upfoot-block{
        //
        display: flex;
        color: white;
        width: 25%;
        flex-direction: column;
        //
        .upfoot-header{
            @extend .uppercase;
            @extend .lato;
            font-size: 1.4rem;
            letter-spacing: .1rem;
            margin-bottom: 7%
        }
        .whovr-upfoot:first-of-type{
            margin: 0 0 7% 0;
            .bright{
                filter: brightness(5);
            }
        }
        p{
            line-height: 2rem;
            @extend .sourcesans;
            font-size: 1.25rem;
            letter-spacing: .1rem;
            padding: 0 15px 5% 0;   
            color: $textseccol;
        }
        .whovr-upfoot:last-of-type{ 
            &:link, &:visited, &:hover, &:active{
                @extend .text-deco-none;
                @extend .sourcesans;
                font-weight: 400;
                font-style: 1.4rem;
                letter-spacing: 0.05rem;
                color: $textseccol;
                justify-content: flex-end;
            }
        }
        //
        .upfoot-image-container{
            margin: 0 0 0 -1%;
            padding-right: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            img{
                margin: 1%;
            }
        }
        //
        a.contactus{
            display: flex;
            
            justify-content: flex-start;
            padding: 0 7% 0 0;
            &:last-child{
                margin: 0;
            }
            &:link, &:visited, &:hover, &:active{
                @extend .text-deco-none;
                @extend .sourcesans;
                color: white;
                font-weight: 400;
                font-style: 1.4rem;
                letter-spacing: 0.05rem;
            }
            img{
                @extend .centeredY;
                padding: 0 5% 0 0;
            }
            p{
                padding: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: $textseccol;
            }
        }
        .input-wrap{
            position: relative;
            height: 4rem;
            input{
                position: absolute;
                border: none;
                border-radius: 2px;
                &:first-child{
                    @extend .sourcesans;
                    font-size: 1.5rem;
                    letter-spacing: .05rem;
                    &::placeholder{
                        color: #828e99;
                    }
                    background: #4e5c6c;
                    width: 100%;
                    height: 100%;
                    padding: 0 35% 0 5%;
                }
                &:last-child{
                    z-index: 2;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: 1.5% 1.5% calc(1.5% + 2px);
                    padding: 0 4%;
                    background: $btncol;
                    @extend .sourcesans;
                    @extend .uppercase;
                    font-weight: 800;
                    letter-spacing: .05rem;
                    box-shadow: 0px 2px 1px #00a085;
                }
            }
        }
    }
}

footer{
    background: $footcol;
    .foot{
        width: 100%;
        padding: 2.5% 0;
        display: inline-flex;
        .dot{
            width: 2px;
            height: 2px;
            background: white;
            border-radius: 1px;
            margin: auto;
        }
        .foot-block{
            display: flex;
            width: 50%;
            color: #616f7d;
            &:first-child{
                @extend .sourcesans;
                font-size: 1.4rem;
                font-weight: 600;
                
            }
            &:last-child{
                justify-content: flex-end;
                ul{
                    display: inline-flex;
                    justify-content: flex-end;
                    width: 100%;
                    a{
                        &:link, &:visited, &:hover, &:active{
                            @extend .text-deco-none;
                            @extend .sourcesans;
                            color: #616f7d;
                            font-weight: 600;
                            font-size: 1.4rem;
                            letter-spacing: 0.025rem;
                        }
                    }
                    span{
                        display: flex;
                        margin: 0 2%;
                    }
                }
            }
        }
    }
}