@import "base/base.scss";
@import "base/reset.scss";
@import "base/var.scss";
@import "base/mixins.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
@import "page/home.scss"; 

*{
    box-sizing: border-box
}

body{
    background-color: $bg;
}

.container{
    @include make-container();
}

.lato{
    font-family: $lato;
}

.sourcesans{
    font-family: $sourcesans;

}

.text-deco-none{
    text-decoration: none;
}

.align-right{
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
}

.top-head{
    background-color: $thcol;
    height: 8vh;
}

.top-head, header{
    border-bottom: 1px solid #e6e9ed;
    @extend .sourcesans;
    font-weight: 800;
    
}

header{
    font-size: 1.25rem;
    height: 16vh;
    @extend .uppercase;
}

.container .contact, .container .header-box{
    @extend .text-deco-none;
    & a{
        text-decoration-line: inherit;
        color: $textmaincol
    }
}

.container{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.contact, .social-network{
    display: flex;
    width: 50%;

}

.centeredY{
    align-self: center;
    display: flex;
}

.contact{
    a{
        width: auto;
        @extend .centeredY;
        justify-content: center;
        justify-self: flex-start;
        padding: 0 7% 0 0;
        &:last-child{
            margin: 0;
        }
        img{
            @extend .centeredY;
            padding: 0 5% 0 0;
        }
        p{
            width: 10em;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.social-network{
    
    ul{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        li{
            display: flex;
            align-self: stretch;
            padding: 0 2%;
            &:first-child{
                padding: 0 2% 0 0;
            }
            &:last-child{
                padding: 0 0 0 2%;
            }
            a{
                @extend .centeredY;
                width: 100%;
                img{
                    @extend .centeredY;
                }
            }
        }    
    }
}

header{
    .container{
        display: flex;
        align-content: center;
        justify-content: space-between;
        .header-box{
            width: 100%;
            display: flex;
            align-self: center;
            justify-content: space-between;
            & > *{
                width: auto;
            }
            nav{
                display: flex;
                justify-content: center;
                width: 100%;
                a{
                    display: flex;
                    align-self: stretch;
                    align-items: center;
                    padding: 0 3%;
                }
            }
            .search{
                display: flex;
                align-self: stretch;
                & img{
                    align-self: center;
                }
            }
        }
    }
}

.carousel ol{
    background-color: white;
    border-radius: .2rem;
    width: auto;
    transform: translate(-50%,-50%);
    padding: 4px;
    margin: 0;
    bottom: -30px;
    display: inline-flex;
    justify-content: center;
    li{
        background-color: $textmaincol;
        display: flex;
        align-self: center;
        margin: 4px;
        width: 16px;
        height: 16px;
        &.active{
            background-color: $btncol;
            margin: 4px;
            width: 16px;
            height: 16px;
        }
    }
}

.carousel-inner{
    width: 100%;
    height: 100vh;
    .item{
        width: 100%;
        height: 100%;
        .item-flex{
            margin: auto;
            width: 80%;
            height: 100%;
            display: flex !important;
            flex-wrap: wrap;
            align-content: center !important;
            justify-content: center;
            .text-head{
                font-size: 4rem !important;
                color: white;
                @extend .lato;
                @extend .uppercase;
                width: 100%;
                
            }
            p{
                font-size: 1.5rem !important;
                color: $textseccol;
                @extend .sourcesans;
                width: 100%;
                text-align: center;
            }
            // a, a:link, a:hover, a:visited, a:active{
            //     white-space: nowrap;
            //     box-sizing: border-box !important;
            //     @extend .text-deco-none;
            //     margin-top: 4%;
            //     background-color: $btnbgcol;
            //     padding: 1.25% 4%;
            //     .btn{
            //         width: 100%;
            //         border-radius: 2px;                 
            //         text-align: center;
            //         color: white;
            //         @extend .sourcesans;
            //         @extend .uppercase;
            //         font-size: 1em !important;
            //         font-weight: 800;   
            //     }
            // }
            .btn{
                background-color: $btnbgcol;
                border-radius: 2px;
                text-align: center;
                color: white;
                @extend .sourcesans;
                @extend .uppercase;
                font-size: 1em !important;
                font-weight: 800;
                margin-top: 4%;
                padding: 1.25% 4%;
                a, a:link, a:hover, a:visited, a:active{
                    box-sizing: border-box;
                    width: 100%;
                    
                }
            }
        }
        &:first-child{
            background-image: url('/img/image-carousel-big-1.png');
            background-position: center;
            background-size: 100% 100%;
            .item-flex{
                .text-head{
                    text-align: center;
                }
            }
        }
        &:nth-child(2){
            background-image: url('/img/image-carousel-big-2.png');
            background-position: center;
            background-size: cover;
            .text-head{
                @extend .align-right;
            }
        }
        &:nth-child(3){
            background-image: url('/img/image-carousel-big-3.png');
            background-position: center;
            background-size: cover;
        }
        &:nth-child(4){
            background-image: url('/img/image-carousel-big-4.png');
            background-position: center;
            background-size: cover;
        }
        &:nth-child(5){
            background-image: url('/img/image-carousel-big-5.png');
            background-position: center;
            background-size: cover;
        }
    }
}

.carousel-control{
    width: 40px !important;
    height: 40px !important;
    background-image: none !important;
    opacity: .25 !important;
    background-color: $textmaincol !important;
    position: absolute;
    top: 50% !important;
    padding: 0 !important;
    display: flex;
    align-content: center;
    justify-content: center;
    .left, .right{
        margin: auto;
        
    }
    &.left{
        left: 5% !important;
    }
    &.right{
        right: 5% !important;
    }
    #left-mark, #right-mark{
        
        display: block;
        margin: auto;    
        .line:first-child{
            display: flex;
            background-color: white;
            border-radius: 2px;
            height: 5px;
            width: 20px;
            margin: 6px 0;
            transform: rotate(-45deg);
        }
        .line:last-child{
            display: flex;
            background-color: white;
            border-radius: 2px;
            height: 5px;
            width: 20px;
            margin: 6px 0;
            transform: rotate(45deg);
        }
    }
    #right-mark{    
        .line:first-child{
            transform: rotate(45deg);
        }
        .line:last-child{
            transform: rotate(-45deg);
        }
    }
}